{% extends 'layout/base.html.twig' %}

{% block stylesheets %}
<style>
html, body, .ui.middle.aligned.grid {
  height: 100%;
}
</style>
{% endblock %}

{% block body %}
<div class="ui middle aligned grid">
  <div class="ui column text container">
    <div class="ui message success">Successfully subscribed!</div>
  </div>
</div>
{% endblock %}
