{% extends 'layout/base.html.twig' %}

{% block title %}Admin - Symfony test project{% endblock %}

{% block heading %}
<div class="ui inverted square main menu">
  <div class="ui container">
    <a class="header item" href="/admin">Admin</a>
    <a class="item" href="/admin/subscriber">Subscribers</a>
    <a class="item" href="/admin/category">Categories</a>
    <a class="right item" href="/">Quit</a>
  </div>
</div>
{% endblock %}
